<%= image_tag("logo_ohnishi_lab.png") %>
<h2>共用スペース スケジュール</h2>

<%= link_to 'Create Event', 'javascript:void()', :id=> 'new_event' %>
<div>
  <div class="calendar"></div>
</div>
<div id = "create_event_dialog" class="dialog" style ="display:none;"></div>
<div id = "event_desc_dialog" class="dialog" style ="display:none;"></div>

<script type="text/javascript">

$(document).ready(function(){
  var options = {
    theme: true,
    defaultView: 'agendaWeek',
    firstDay: 1,
    titleFormat: {
      month: 'yyyy年M月',                             // 2013年9月
      week: "yyyy年M月d日{ ～ }{[yyyy年]}{[M月]d日}", // 2013年9月7日 ～ 13日
      day: "yyyy年M月d日'('ddd')'"                  // 2013年9月7日(火)
    },
    dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
    // 曜日略称
    dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],

  };

  $('.calendar').fullCalendar($.extend(full_calendar_options,options));
  $('#new_event').click(function(event) {
    FullcalendarEngine.Form.display()
      event.preventDefault();
  });
});
</script>
